numpy==1.19.2
plotly==4.12.0
pymongo==3.11.1
textblob==0.15.3
gensim==3.8.3
tweepy==3.9.0
py3-validate-email==0.2.12
Pyrebase4==4.4.1
google-play-scraper==0.1.1
ibm-watson==4.7.1
Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
requests==2.25.0